
/* Reset some default styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
.background-image {
    background-image: url('Fruit.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body {
    padding-top: 300px; 
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: #EEC4C3;
    color: #5A5A5C;
}


{    background-color: #DE8A60;
    color: #fff;
    padding: 10px 0;
}

.logo-container {
    text-align: center;
}

#company-logo {
    width: 250px; /* Adjust the size as needed */
    height: auto;
    display: block;
    margin:  0 auto;
}

.header-content {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

.header-button {
    text-decoration: none;
    color: #fff;
}

/* Add a hover style for the header buttons */
.header-button:hover {
    color: pink;
}/* Add more CSS styles as needed */

/* Define styles for other sections and elements */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg,#DE8A60,#EBE6C9,#DE8A60); /* Beige background */
    z-index: 1;
