body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: #EBE6C9;
    color: #5A5A5C;
}

.header-content {
    text-align: center;
    background-color: #DE8A60;
    padding: 10px 0;
}

#company-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.button-container {
    background-color: #DE8A60;
    text-align: center;
    padding: 10px 0;
}

.header-button {
    color: #FFFFFF;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #EBE6C9;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: #EEC4C3;
}

