/* Reset some default styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background-color: #EBE6C9;
    color: #5A5A5C;
}

header {
    background-color: #DE8A60;
    color: #fff;
    padding: 10px 0;
}

.logo-container {
    text-align: center;
}

#company-logo {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

.header-content {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

.header-button {
    text-decoration: none;
    color: #fff;
}

/* Add more CSS styles as needed */

/* Define styles for other sections and elements */

